* {
    margin: 0px;
    padding: 0px;
}
.topnav {
    /* background-color: #333; */
    overflow: hidden;
}
a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    display: block;
}
li {
    
    padding: 10px 0px ;
    margin: 0px 0px;
}
ul, li {
    list-style: none;
    text-align: center;
}
.topnav ul.top-level>li {
    float: left;
    width: 15%;
    height: 22px;
    background-color: black;
}
.topnav ul.top-level>li:not(:last-child) a:hover{
    background-color: red;
   
}
.topnav ul.top-level>li .two-level {
    display: none;
    /* float: left; */
    position: absolute;
    background-color: black;
    width: 15%;
    /* top: 41px; */
    align-content: center;
}


.topnav ul.top-level>li:hover .two-level{
    display: block;     
}

ul.top-level>li:last-child  {
    /* display: none; */
    width: 40%;
}
a.icon {
    float: right;
    padding-right: 5px;
    display: none;
}
a.icon:hover {
    color: red;
}
@media screen and (max-width: 600px) {
    .topnav ul.top-level>li:not(:first-child):not(:last-child) {display: none;}
    ul.top-level>li:last-child{width: 85%;}
    .topnav a.icon {
        /* float: right; */
        display: block;
    }
    .topnav ul.top-level>li:hover .two-level{
        display: none;     
    }
}
@media screen and (max-width: 600px) {
    .topnav.responsive ul.top-level>li {
        width: auto;
        height: auto;
    }
    .topnav.responsive ul.top-level>li:not(:last-child) {
        float: none;
        display: block;
    }
    .topnav.responsive .icon{
        position: absolute;
        top: 0;
        right: 0;
    }

    .topnav.responsive ul.top-level>li .two-level{
        position: absolute;
        width: auto;
        /* top: 41px; */
    }
    .topnav.responsive ul.top-level>li .two-level>li {
        padding-bottom: 0px;
    }

    .topnav.responsive ul.top-level>li ul.show {
        position: static;
        display: block;
    }
}
