body {
    margin: 0;
    font-family: "Lato", sans-serif;
}

.topnav {
    background-color: #333;
    overflow: hidden;
}

.topnav>div {
    float: left;
}

a {
    display: block;
    color: #f2f2f2;
    font-size: 17px;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

div.dropdown-content {
    padding: 0px;
    font-size: 13px;
    /* padding: 10px 18px; */
    color: #dbb5b5;
    background-color: #666;
    position: absolute;
}

.topnav .dropdown-content {
    display: none;
}

div.dropdown:hover .dropdown-content{
    display: block;
}


.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav a.icon {
    display: none;
    padding: 14px 16px;
}

@media screen and (max-width: 600px) {
    .topnav div:not(:first-child) {display: none;}
    .topnav a.icon {
        float: right;
        display: block;
    }
 
    div.dropdown:hover .dropdown-content{
        display: none;
    }
}

@media screen and (max-width: 600px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
        position: absolute;
        top: 0;
        right: 0;
    }
    .topnav.responsive>div {
        float: none;
        display: block;     
    }
    .topnav.responsive>div div.show {
        position: static;
        display: block;
    }
}